*{margin:0;}

body
{
	background:#757575;
	padding:0;
	position:relative;
}
.login-form {
	background:#fff;
	width:32%;
	margin:9% auto 4% auto;
 	position: relative;
	border-radius:20px;
}
form {
	padding:10%;
}
form li
{
	border:1px solid #B4B2B2;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	border-radius: 0.3em;

}


.heading
{
	margin-top:40px;
}

.heading h3{
	color: #FFF;
	font-size: 1.4em;
	text-transform: uppercase;
	font-family:Verdana, Geneva, sans-serif;
	padding:15px 0;
	text-align: center;
	background:#cc324b;
	border-radius: 5px 5px 0 0;
	font-weight:900;
}

.heading_name
{
	background: #394264;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
}
input[type="text"], input[type="password"] {
	font-family: 'Open Sans', sans-serif;
	width:60%;
	padding:0.7em 2em 0.7em 1.7em;
	padding-left:10%;
	color:#858282;
	font-size:18px;
	outline: none;
	background: none;
	border:none;
	font-weight:600;
	}
form li:hover{
	 border:1px solid #40A9DF;
	 box-shadow: 0 0 1em #40A9DF;
}
input[type="submit"]{
	float:right;
	font-size:18px;
	font-weight:600;
	color: #FFF;
	transition: 0.1s all;
	background:#757575;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:3px;
	font-family: 'Open Sans', sans-serif;
	width:40%;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}


.p-container
{
	margin-top:2em;
}

.login-form
{
		margin:8% auto 0;
		width:45%;
	}
